<div id="loginContainer" style="display: none;">
    <div id="loginCancelContainer" style="display: none;">
        <button id="loginCancelButton">
            <div id="loginCancelIcon">X</div>
            <span id="loginCancelText"><%- lang('login.loginCancelText') %></span>
        </button>
    </div>
    <div id="loginContent">
        <form id="loginForm">
            <img id="loginImageSeal" src="assets/images/SealCircle.png"/>
            <span id="loginSubheader"><%- lang('login.loginSubheader') %></span>
            <div class="loginFieldContainer">
                <svg id="profileSVG" class="loginSVG" viewBox="40 37 65.36 61.43">
                    <g>
                        <path d="M86.77,58.12A13.79,13.79,0,1,0,73,71.91,13.79,13.79,0,0,0,86.77,58.12M97,103.67a3.41,3.41,0,0,0,3.39-3.84,27.57,27.57,0,0,0-54.61,0,3.41,3.41,0,0,0,3.39,3.84Z"/>
                    </g>
                </svg>
                <span class="loginErrorSpan" id="loginEmailError"><%- lang('login.loginEmailError') %></span>
                <input id="loginUsername" class="loginField" type="text" placeholder="<%- lang('login.loginEmailPlaceholder') %>"/>
            </div>
            <div class="loginFieldContainer">
                <svg id="lockSVG" class="loginSVG" viewBox="40 32 60.36 70.43">
                    <g>
                        <path d="M86.16,54a16.38,16.38,0,1,0-32,0H44V102.7H96V54Zm-25.9-3.39a9.89,9.89,0,1,1,19.77,0A9.78,9.78,0,0,1,79.39,54H60.89A9.78,9.78,0,0,1,60.26,50.59ZM70,96.2a6.5,6.5,0,0,1-6.5-6.5,6.39,6.39,0,0,1,3.1-5.4V67h6.5V84.11a6.42,6.42,0,0,1,3.39,5.6A6.5,6.5,0,0,1,70,96.2Z"/>
                    </g>
                </svg>
                <span class="loginErrorSpan" id="loginPasswordError"><%- lang('login.loginPasswordError') %></span>
                <input id="loginPassword" class="loginField" type="password" placeholder="<%- lang('login.loginPasswordPlaceholder') %>"/>
            </div>
            <div id="loginOptions">
                <span class="loginSpanDim">
                    <a href="<%- lang('login.loginForgotPasswordLink') %>"><%- lang('login.loginForgotPasswordText') %></a>
                </span>
                <label id="checkmarkContainer">
                    <input id="loginRememberOption" type="checkbox" checked>
                    <span id="loginRememberText" class="loginSpanDim"><%- lang('login.loginRememberMeText') %></span>
                    <span class="loginCheckmark"></span>
                </label>
            </div>
            <button id="loginButton" disabled>
                <div id="loginButtonContent">
                    <%- lang('login.loginButtonText') %>
                    <svg id="loginSVG" viewBox="0 0 24.87 13.97">
                        <defs>
                            <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                        </defs>
                        <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                    </svg>
                    <div class="circle-loader">
                        <div class="checkmark draw"></div>
                    </div>
                    <!--<div class="spinningCircle" id="loginSpinner"></div>-->
                </div>
            </button>
            <div id="loginDisclaimer">
                <span class="loginSpanDim" id="loginRegisterSpan">
                    <a href="<%- lang('login.loginNeedAccountLink') %>"><%- lang('login.loginNeedAccountText') %></a>
                </span>
                <p class="loginDisclaimerText"><%- lang('login.loginPasswordDisclaimer1') %></p>
                <p class="loginDisclaimerText"><%- lang('login.loginPasswordDisclaimer2', { appName: lang('app.title') }) %></p>
            </div>
        </form>
    </div>
    <script src="./assets/js/scripts/login.js"></script>
</div>
<div id="noPremiumModal" class="modal">

    <div class="modal-content">
        <span class="close-button">&times;</span>
        <p>Si eres usuario no premium este launcher no es para ti, pero podemos ayudarte.</p>
        <p>¡Únete a nuestra comunidad para recibir soporte!</p>
        <button id="discordLinkBtn" class="login-button discord-button">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                 <path fill="currentColor" d="M20.317 4.36981C18.867 3.86981 17.347 3.51981 15.767 3.32981C15.707 3.42981 15.657 3.53981 15.597 3.63981C14.077 3.18981 12.497 3.18981 10.977 3.63981C10.917 3.53981 10.867 3.42981 10.807 3.32981C9.22705 3.51981 7.70705 3.86981 6.25705 4.36981C4.64705 7.01981 3.99705 9.48981 4.00705 12.0098C4.44705 14.7198 6.40705 16.9298 9.24705 17.9298C9.24705 17.9298 9.68705 17.4698 10.057 17.0398C9.28705 16.6898 8.61705 16.1298 8.06705 15.4298C8.06705 15.4298 8.06705 15.4298 8.05705 15.4198C10.127 16.6698 12.617 16.6698 14.687 15.4198C14.687 15.4198 14.687 15.4298 14.687 15.4298C14.137 16.1298 13.467 16.6898 12.697 17.0398C13.067 17.4698 13.507 17.9298 13.507 17.9298C16.347 16.9298 18.307 14.7198 18.747 12.0098C18.757 9.48981 18.107 7.01981 16.497 4.36981L20.317 4.36981ZM10.247 13.4098C9.42705 13.4098 8.75705 12.7398 8.75705 11.9198C8.75705 11.0998 9.41705 10.4298 10.247 10.4298C11.077 10.4298 11.747 11.0998 11.737 11.9198C11.737 12.7398 11.067 13.4098 10.247 13.4098ZM15.507 13.4098C14.687 13.4098 14.017 12.7398 14.017 11.9198C14.017 11.0998 14.677 10.4298 15.507 10.4298C16.337 10.4298 17.007 11.0998 16.997 11.9198C16.997 12.7398 16.327 13.4098 15.507 13.4098Z"/>
             </svg>
        <span>Ir al Discord</span>
        </button>
    </div>

</div>